*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  background:#c06e6e;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: ch 5s ease-in-out infinite;
}
@keyframes ch {
  0% {
    background: #e55039;
  }
  30%
  {
    background: #79cfd5;
  }
  50%
  {
    background: #4b5ea5;
  }
  70%
  {
    background: #bcb06e;
    
  }
  100%
  {
    background: #76d172;

  }
  
  
}

.container
{
  background: whitesmoke;
  width: 500px;
  height: fit-content;
  padding: 50px;
  border-radius: 10px;
}
.container h1{
  margin: -20px;
  font-family: 'Courier New', Courier, monospace;
}
.container .input
{
  margin-top: 40px;
  margin-left: -15px;
  width: max-content;
  height: max-content;
}
.container h1 .img
{
  margin-top: -20px;
  width: 40px;
  height: 40px;
}
.container .input #txt_box
{
  width: 350px;
  height: 45px;
  font-size: 20px;
  margin-left: -7px;
  border: 1px solid black;
  background:#dff9fb;
  border-radius: 10px;
  padding:10px;
}
.container .input #btn
{
  width: 90px;
  height: 45px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  background: #dff9fb;
  cursor: pointer;
  outline: none;
}
ul li{
  list-style: none;
  margin-top: 8px;
  font-size: 17px;
  padding: 10px 8px 12px 50px;
  user-select:none;
  cursor: pointer;
  position: relative;
}
.clr
{
  text-align: center;
  width: 90px;
  height: 45px;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 150px;
  background: #e55039;
  color: black;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;


}
ul li::before{
  content:'';
  position: absolute;
  height: 28px;
  width: 28px;
  background-size: cover;
  background-position: center;
  top:7px;
  left:0;  
  background-image: url(images/unselect.png);
}
ul li.checked
{
  color: black;
  text-decoration: line-through red;
}
ul li.checked::before{
  background-image:url(images/select.png) ;
}
ul li span{
  right: 0;
  position: absolute;
  height: fit-content;
  width: fit-content;
  padding:5px;
  border-radius:10px;
  top:0;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
ul li span:hover{
  background: rgba(214, 195, 195, 0.845);
}
.container .input #btn:active
{
  background: rgb(82, 216, 82);
  transform: scale(1.1);
}